body {
  font-family: "input-mono-condensed", monospace;
  margin: 0;
  background: #1a1a19;
  color: #f7f1e5;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a1a19;
  color: #f7f1e5;
  text-align: center;
  padding: 0.5em 0;
  z-index: 1000;
}
.opacity-reveal {
  opacity: 1;
}

.scene1 {
  margin-top: 40vh;
  margin-left: 2rem;
  height: 100vh;
}

.scene1 h1 {
  font-size: 12em;
  font-weight: bold;
  color: #f7f1e5;
}

.scene2 {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25em;
}

.scene2 p {
  font-size: 4em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  display: block;
}
.scene3 {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25em;
}
.scene3 p {
  font-size: 4em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  display: block;
}

.scene4 {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10em;
}
.scene4 p {
  
  font-size: 4em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  display: block;
}
.button {
  font-family: "input-mono-condensed", monospace;
  font-size: 4em;
  padding: 0.2em 0.5em;
  margin-top: 4em;
  margin-left: 2em;
  background-color: #f7f1e5;
  color: #1a1a19;
  border: none;
  border-radius: 2em;
  cursor: pointer;
}

.scene5 {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25em;
}
.scene5 p {
  font-size: 4em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  display: block;
}

.scene6 {
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25em;
}
.scene6 p {
  font-size: 10em;
  line-height: 1.5;
  text-align: left;
  margin: 0;
  display: block;
}
@media screen and (max-width: 1440px) {
  .scene1 {
    margin-top: 30vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .scene1 h1 {
    font-size: 6em;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1200px) {
  .scene1 {
    margin-top: 25vh;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .scene1 h1 {
    font-size: 4.5em;
    white-space: nowrap;
  }
}
